<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
bootstrap="./tests/bootstrap.php"
colors="true" 
beStrictAboutTestsThatDoNotTestAnything="false" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" 
cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Inpsyde_Plugin_Test">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
